.box {
	border: 2px solid #000;
	height: 120px;
	width: 160px;
	border-radius: 5%;
	margin: 12px;
	transition: all 0.2s ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.box:hover {
	border: 2px solid #ff4b2b;
}
